<ng-container *ngIf="coffees | async as coffee">
  <div class="c-description">
    <div class="tw-p-6 tw-bg-custom-background tw-rounded-2xl	 tw-text-white ">
      <h3 class="tw-text-lg tw-text-white tw-font-bold	">انتخاب قهوه</h3>
      <p class="tw-text-sm tw-text-F8EEDC tw-font-semibold	">
        حداقل یک و حداکثر سه قهوه را برای شروع ترکیب دلخواه انتخاب کنید. برای بهترین ترکیب، بهتر است یک قهوه از نوع
        عربیکا
        و
        نوع دوم ربوستای اوگاندا را انتخاب کنید. ربوستا تلخی، غلظت، کرما و کافئین قهوه را افزایش می دهد و برای طعم و عطر
        بهتر
        از ترکیب یک عربیکا استفاده کنید.
      </p>
    </div>
  </div>
  <div class="c-item  tw-flex tw-justify-center tw-flex-wrap tw-gap-x-4 tw-flex-col tw-gap-y-4">
    <ng-container *ngFor="let item of coffee">
      <app-coffee-card [item]="item"></app-coffee-card>
    </ng-container>
  </div>
</ng-container>
