<form [ngClass]="config.formClass" [formGroup]="form" class="tw-flex tw-flex-col tw-gap-y-8">
  <ng-container *ngFor="let control of config.controls | keyvalue">
    <section class="tw-flex tw-flex-col tw-gap-y-4" [ngClass]="control.value.controlClass">
      <label class="tw-text-lg tw-font-bold tw-text-333">{{ control.value.label }}</label>
      <ng-container
        [ngComponentOutlet]="dynamicControlResolverService.resolve(control.value.controlType)"
        [ngComponentOutletInjector]="control.key | controlInjector:control.value"
      >
      </ng-container>
    </section>
  </ng-container>
  <p *ngIf="form.invalid" class="tw-text-dd0031 tw-text-lg tw-font-bold">{{ config.textError }}</p>
</form>
