<div class="tw-p-6 tw-bg-[linear-gradient(90deg,_#D3AC67_0%,_#DDBE88_100%)] tw-rounded-2xl	 tw-text-white ">
  <h3 class="tw-text-lg tw-text-white tw-font-bold	">{{ title }}</h3>
  <p class="tw-text-sm tw-text-F8EEDC tw-font-semibold	">
    حداقل یک و حداکثر سه قهوه را برای شروع ترکیب دلخواه انتخاب کنید. برای بهترین ترکیب، بهتر است یک قهوه از نوع
    عربیکا
    و
    نوع دوم ربوستای اوگاندا را انتخاب کنید. ربوستا تلخی، غلظت، کرما و کافئین قهوه را افزایش می دهد و برای طعم و عطر
    بهتر
    از ترکیب یک عربیکا استفاده کنید.
  </p>
</div>
