<section
  [ngClass]="item.class"
  class="c-coffee tw-cursor-pointer   tw-border tw-border-solid tw-border-D3AC67 tw-bg-white tw-rounded-2xl tw-p-6	tw-flex tw-flex-col tw-gap-y-1">
  <div class="tw-flex tw-flex-col tw-gap-y-1">
    <app-svg-icon [name]="item.nameFlag"></app-svg-icon>
    <h3 class="tw-text-333 tw-font-bold tw-font tw-text-lg	tw-text-center">{{ item.title }}</h3>
  </div>
  <div class="tw-flex tw-flex-col tw-gap-y-1">
    <app-slider [slider]="item.bitterness"></app-slider>
    <app-slider [slider]="item.caffeine"></app-slider>
    <app-slider [slider]="item.acidity"></app-slider>
  </div>
  <div class="tw-flex tw-justify-center tw-gap-x-2 tw-my-4	">
    <app-place-holder value="شیرین"></app-place-holder>
    <app-place-holder value="یاد آجیلی شکلاتی"></app-place-holder>
  </div>
  <span class="tw-text-ACACAC tw-text-sm tw-font-semibold tw-text-center">قیمت / کیلوگرم<span
    class="tw-text-5D5D5D tw-text-2xl	tw-font-black tw-mx-0.5">{{ item.price }}</span>تومان</span>
</section>

