<section
  [ngClass]="device.class"
  class="tw-flex tw-flex-col tw-gap-y-1 tw-border tw-border-solid tw-border-E6E6E6 tw-cursor-pointer tw-p-6 tw-rounded-2xl">
  <div>
    <app-svg-icon [name]="device.iconName"></app-svg-icon>
    <title class="tw-block tw-font-bold tw-text-333 tw-text-lg tw-text-center">{{ device.title }}</title>
  </div>
  <div class="tw-flex tw-flex-col tw-gap-y-1">
    <app-slider [slider]="device.bitterness"></app-slider>
    <app-slider [slider]="device.acidity"></app-slider>
    <app-slider [slider]="device.caffeine"></app-slider>
    <app-slider [slider]="device.smell"></app-slider>
  </div>
</section>
