@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

* {
  text-align: right;
  direction: rtl;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'BYekan';
  src: url("/assets/_fonts/YekanBakh-Medium.eot") format("truetype");
}

* {
  font-family: BYekan;
}
