@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-align: right;
  direction: rtl;
}

@font-face {
  font-family: 'BYekan';
  src: url("/assets/_fonts/YekanBakh-Medium.eot") format("truetype");
}

* {
  font-family: BYekan;
}

@import "primeicons/primeicons.css";
