@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';


* {
  text-align: right;
  direction: rtl;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'BYekan';
  src: url("/assets/_fonts/Yekan.woff") ;
}

* {
  font-family: BYekan;
}
